urbackup-app {
	margin : 0px;
	padding: 0px;
}

table{
	font-size:14px;
}

menu {
	margin:0px;
	padding:0px;
}

#client-status-table.table-responsive{
	overflow-y:auto;
}

#client-status-table .table-detail{
	padding: 15px;
	background-color: #e7e7e7;
	box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
	background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
	background-repeat: repeat-x;
}

#client-status-table .table-detail ul {
	list-style-type: none;
	padding-left: 0px;
}

#client-status-table .table-detail ul label{
	width: 150px;
	font-weight: normal;
}

#client-status-table .table-detail .row {
	margin: 5px;
}

#client-status-table .table-detail .actions{
	text-align: right;
	margin-bottom: 0px;
}

.progress {
	position: relative;
}

.progress span {
	position: absolute;
	display: block;
	width: 100%;
	color: black;
	font-weight: bold;
 }

#client-status-table .filterRow {
	background-color: #e7e7e7
 } 

 #client-status-table .filterRow input {
	width: 100%;

 }

 #client-status-table .filterRow select{
	width: 100%;
 }
 
#client-status-table tbody{
	border-top: 1px solid #dddddd;
}

.clickable {
	cursor: pointer;
}

.label[hidden] {
	display: none;
}

.small {
	width:75px;
	display:inline;
}

#client-status-table .loading {
	width: 100%;
	height: 75px;
	background-image: url('img/loading-whitebg.gif');
	background-repeat: no-repeat;
	background-position: center;
}

#log-table td{
	height: 50px;
}

#log-table .filterRow {
	background-color: #e7e7e7
	} 

	#log-table .filterRow input {
	width: 100%;

	}

	#log-table .filterRow select{
	width: 100%;
	}

#log-table .table-detail{
	padding: 15px;
	background-color: #e7e7e7;
	box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
	background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
	background-repeat: repeat-x;
	width: 100%;
}

#log-table .table-detail ul {
	margin-top: 10px;
	list-style-type: none;
	padding-left: 0px;
}

#log-table .table-detail li label:first-child {
	width: 60px;
}


#log-table .table-detail li label {
	margin-right: 30px;
}