<h1>Clients</h1>
<div id="client-status-table" class="">
	<table class="table">
		<thead>
			<tr>
				<th><input type="checkbox" (change)="toggleAllClients($event);"/></th>
				<th>
					Computer name
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</th>
				<th>Online</th>
				<th>Status</th>
				<th>Last seen</th>
				<th>&nbsp;</th>
			</tr>
			<tr class="filterRow">
				<th>&nbsp;</th>
				<th><input [(ngModel)]="searchRequest.name" type="text" class="form-control small" (keyup)="search()"/></th>
				<th>
					<select [(ngModel)]="searchRequest.online" class="form-control" (change)="search()">
						<option [ngValue]="null">Select</option>
						<option [ngValue]="true">Online</option>
						<option [ngValue]="false">Offline</option>
					</select>
				</th>
				<th>
					<select class="form-control">
						<option>Select</option>
						<option>OK</option>
						<option>Outdated</option>
						<option>Image outdated</option>
						<option>File outdated</option>
					</select>
				</th>
				<th>&nbsp;</th>
				<th class="text-right">
					<button class="btn btn-default" (click)="search()">Filter</button>
				</th>
			</tr>
		</thead>
		<tbody *ngFor="let client of searchResult.clients">
			<tr>
				<td>
					<input type="checkbox" [ngModel]="client.selected" class="js-client-selector" (change)="toggleClient($event,client)"/>
				</td>
				<td class="clickable" (click)="toggleClientDetail($event)">
					{{client.name}}
				</td>
				<td [ngSwitch]="client.online">
					<span *ngSwitchWhen="true" class="label label-success" >Online</span>
					<span *ngSwitchWhen="false"class="label label-danger">Offline</span>
				</td>
				<td>
					<div *ngIf="client.isCreatingBackups()" class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" [attr.aria-valuenow]="client.getTotalProcessPercentage()" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
							<span>{{client.getTotalProcessPercentage()}}%</span>
						</div>
					</div>
					<span *ngIf="!client.isCreatingBackups() && client.imageOk && client.fileOk" class="label label-success" >OK</span>
					<span *ngIf="!client.isCreatingBackups() && (!client.imageOk || !client.fileOk)" class="label label-danger">Outdated</span>
				</td>
				<td>5 seconds ago</td>
				<td class="text-right">
					<div class="btn-group">
						<button type="button" class="btn btn-primary droreturn pdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
						<ul class="dropdown-menu pull-right">
							<li><a href="#">Full image backup</a></li>
							<li><a href="#">Incremental image backup</a></li>
							<li><a href="#">Full file backup</a></li>
							<li><a href="#">Incremental file backup</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Download client</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr class="table-detail">
				<td colspan="6">
					<div class="row">
						<div class="col-md-4">
							<strong>Client</strong>
							<ul>
								<li><label>IP</label>192.168.1.10</li>
								<li><label>Last seen</label>2015-10-07 12:05</li>
								<li><label>Operating system</label>Microsoft Windows 7 Prof..</li>
								<li><label>Client version</label>1.5.1</li>
							</ul>
						</div>
						<div class="col-md-4">
							<strong>Image backup</strong>
							<ul>
								<li><label>Backup status</label>OK</li>
								<li><label>Last backup</label>2015-10-07 11:38</li>
							</ul>
						</div>
						<div class="col-md-4">
							<strong>File backup</strong>
							<ul>
								<li><label>Backup status</label>OK</li>
								<li><label>Last backup</label>2015-10-07 11:38</li>
							</ul>
						</div>
					</div>
					<p class="actions">
						<a href="">Logs</a>
					</p>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span>{{getSelectedClients().length}} clients selected</span>
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bulk action <span class="caret"></span></button>
						<ul class="dropdown-menu pull-right">
							<li><a href="#">Full image backup</a></li>
							<li><a href="#">Incremental image backup</a></li>
							<li><a href="#">Full file backup</a></li>
							<li><a href="#">Incremental file backup</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Download client</a></li>
						</ul>
					</div>
				</td>
				<td colspan="3" class="text-right">
					<span>Page size:</span>
					<select class="form-control" style="width:75px;display:inline;">
						<option>10</option>
						<option>25</option>
						<option>50</option>
						<option>100</option>
					</select>
					<span>Page:</span>
					<select class="form-control" style="width:75px;display:inline;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</td>
			</tr>
		</tfoot>
	</table>
	<p>
		<button class="btn btn-lg btn-primary">Add client</button>
	</p>
</div>